#logo {
  margin-left: 38%;
  margin-top: 15%;
  margin-bottom: 1%;
}

#bar {
  margin-left: 40%;
  width: 39%;
  position: relative;
  right: 11%;
  background-color: white;
  background-image: url(https://www.w3schools.com/css/searchicon.png);
  background-position: 15px 10px;
  background-size: 4%;
  background-repeat: no-repeat;
  padding: 10px 0px 10px 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
}

#bar:hover {
    box-shadow: .5px .5px .5px .5px #dfdcdc;
}

#bar:focus {
    box-shadow: .5px .5px .5px .5px #dfdcdc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
    font-size: 12px;
    font-family: arial, sans-serif;
}

.right_menu {
    position: absolute;
    left: 81%;
    top: 17px;   
}

.left_menu {
    position: relative;
    top: 10px;
    left: 5px;
}
.bottom_left_menu {
    position: relative;
    bottom: 3px;
    left: 5px;
    font-size: 12px;
    
}
.bottom_right_menu {
    position: absolute;
  bottom: 5px;
  right: 23px;
  font-size: 12px;
  
}
#icon {
    position: absolute;
    bottom: -4px;
    border-radius: 20px;
    left: 158px;
}
.footer {
    background-color: #f3f9f7;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
    padding-top: 10px;
   
}

#search {
    position: relative;
    top: 50px;
    right: 45%
}

#lucky {
    position: relative;
    top: 14px;
    left: 582px;
}